<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="logo-twitter" size="large" id="twitter" color="primary"></ion-icon>
    <ion-icon name="sparkles-outline" slot="end" size="large" id="oi" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<div id="Card1">
  <ion-avatar class="teste">
    <img src="https://img.estadao.com.br/fotos/crop/1200x1200/resources/jpg/7/3/1543522402137.jpg">
  </ion-avatar>

  <ion-card id="ola">
    <ion-card-header>
      <ion-card-title id="tchau"> <strong> Queijo Quente </strong> </ion-card-title> 
      <ion-card-subtitle id="tchau">@Pao&Queijo</ion-card-subtitle>
      <ion-icon name="ellipsis-vertical-outline" id="slot1"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <p class="mom"> Pegando uma corzinha rs </p>
      <br />
      <img src="https://cozinhabruta.blogfolha.uol.com.br/files/2019/12/3B45AEC7-3956-4832-B1A4-99DA26F996B0-768x768.jpg" />
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="chatbubble-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="repeat-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="heart-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="share-social-outline" slot="start" size="large" class="icon"></ion-icon>
    </ion-card-content>
  </ion-card>

</div>

<div id="Card2">
  <ion-avatar class="teste">
    <img src="https://1.bp.blogspot.com/-9-ul7EzLN34/XsYGUjcEmFI/AAAAAAAAwFU/ouxs-Qpml5Mv4sIWixD357a22rKGt35vACLcBGAsYHQ/s2560/question_sign_question_mark_169908_1080x1920.jpg">
  </ion-avatar>

  <ion-card id="ola">
    <ion-card-header>
      <ion-card-title id="tchau"> SLA </ion-card-title>
      <ion-card-subtitle id="tchau"> @SeiLa </ion-card-subtitle>
      <ion-icon name="ellipsis-vertical" id="slot2"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <p class="mom"> O que eu to fazendo da vida mds </p>
      <br />
      <img src="https://i.pinimg.com/564x/4c/ff/4a/4cff4ae8c966d83e274e71ef2aff3822.jpg" />
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="chatbubble-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="repeat-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="heart-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="share-social-outline" slot="start" size="large" class="icon"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>

<div id="Card3">
  <ion-avatar class="teste">
    <img src="https://i.pinimg.com/736x/e7/40/80/e740803ed029117e2d8c37d4ae0d244b.jpg">
  </ion-avatar>

  <ion-card id="ola">
    <ion-card-header>
      <ion-card-title id="tchau"> Just a Person </ion-card-title>
      <ion-card-subtitle id="tchau"> @JojoFest_ </ion-card-subtitle>
      <ion-icon name="ellipsis-vertical" id="slot3"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <p class="mom"> E se eu fizesse um Twitter Parte 2? </p>
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="chatbubble-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="repeat-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="heart-outline" slot="start" size="large" class="icon"></ion-icon>
      <ion-icon name="share-social-outline" slot="start" size="large" class="icon"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>