<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      color="primary"
      name="arrow-back"
      slot="start"
      routerLink="../home"
    ></ion-icon>
    <ion-title color="tertiary">Contato</ion-title>
    <ion-avatar class="avatar" slot="end">
      <img src="https://image.flaticon.com/icons/png/128/5084/5084375.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="person" slot="start" color="primary"></ion-icon>
    <ion-label>Anny</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
    <ion-label>(13) 92342425</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
    <ion-label>21/03/2007</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="locate" slot="start" color="primary"></ion-icon>
    <ion-label>Guarujá</ion-label>
  </ion-item>
</ion-content>
